*{
    box-sizing:border-box;
}
body{
    margin:0;
    background-color: #ffe55a;
    font-family: "Questrial",sans-serif;
    
    
}
img {
    width: 20%;
    width:fit-content
   
}
header {
    text-align: center;
    background: #ffe55a;
}
.home-page header{
    background: white;
    height: 100px;
}
.logo{
    height: 150px;
}
h1{
    font-family: 'DM Serif Display', serif;
    font-size: 120px;
}


.sub-page main {
    background:white;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    padding:80px;
}
.sub-page main div {
    flex:50%;
    padding:40px;
}
.sub-page main div {
    padding:10px;
}
a{ 
    color:black;   
}
.home-images {
    display:flex ;
}
.home-images div{ 
    flex:1;
}

.about-us {
    display:flex ;
    padding: 50px;
}
.about-us div{ 
    flex:1;
}
.about-us p.about-content {
    background:white;
    padding: 90px;
}
.details {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
}
.details article {
    flex:50%;

}
.details article:nth-child(1),.details article:nth-child(3){
    border-right: 4px solid black;

}
.details article:nth-child(1), .details article:nth-child(2){
    border-bottom: 4px solid black;
    height: 60px;
}
.button {
    display:inline-block;
    background:#ff5c00;
    width: 60%;
    border-radius: 20px;
    padding:16px 24px;
    text-align: center;

}