@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}
a {
  color: white;
  text-decoration: none;
}
img {
  width: 70%;
}
h1,
h2,
h3, 
h4{
  font-family: 'MedievalSharp', cursive;
}
.main-nav {
  margin: 10px 50px;
}
.home-page header {
  display: flex;
  width: 70%;
  margin: auto;
}
.home-page header .logo {
  flex: 80%;
  padding-right: 60px;
}
.home-page header nav {
  flex: 20%;
  display: flex;
  flex-direction: column;
}
.home-page header nav img {
  margin-bottom: 20px;
}
.atlanta-logo {
  margin-top: 80px;
}
.home-content {
  margin-top: 330px;
  width: 400px;
}
body.home-page {
  background-image: url('images/atlanta-bg.jpeg');
  background-size: 1500px;
  background-repeat: no-repeat;
}

.sub-page header {
  margin-top: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub-page header h1 {
  margin: 0;
  font-size: 180px;
}
.earn-page header h1 {
  color: rgb(254, 206, 0);
}

.earn-page header {
  background-image: url('images/earn-bg.jpeg');
}
.sub-page main {
  height: 100vh;
  position: relative;
}
.sub-page .earn-blue {
  position: absolute;
  bottom: 0px;
  left: 900px;
  width: 400px;
}
.sub-page .earn-yellow {
  position: absolute;
  bottom: 0px;
  left: 100px;
  width: 900px;
}
.sub-page .earn-red {
  position: absolute;
  bottom: 60px;
  left: 25px;
  width: 500px;
}
.sub-page .earn-content {
  width: 500px;
  position: absolute;
  top: 80px;
  left: 60%;
}
.sub-page header {
  margin-top: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub-page header h1 {
  margin: 0;
  font-size: 180px;
}
.van-page header h1 {
  color: rgb(255, 112, 0);
}

.van-page header {
  background-image: url('images/van-bg.jpeg');
}
.sub-page main {
  height: 100vh;
  position: relative;
}
.sub-page .van-orange {
  position: absolute;
  bottom: 0;
  left: 820px;
  width: 602px;
}
.sub-page .van-pink {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 604px;
}
.sub-page .van-red {
  position: absolute;
  bottom: 0;
  left: 650px;
  width: 150px;
}
.sub-page .van-content {
  width: 200px;
  position: absolute;
  top: 80px;
  left: 45%;
}
.sub-page header {
  margin-top: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub-page header h1 {
  margin: 0;
  font-size: 180px;
}
.darius-page header h1 {
  color: rgb(154, 48, 44);
}

.darius-page header {
  background-image: url('images/darius-bg.jpeg');
}
.sub-page main {
  height: 100vh;
  position: relative;
}
.sub-page .darius-green {
  position: absolute;
  bottom: 0;
  left: 900px;
  width: 600px;
}
.sub-page .darius-pink {
  position: absolute;
  bottom: 290px;
  left: 1050px;
  width: 80px;
}
.sub-page .darius-red {
  position: absolute;
  bottom: 0;
  left: 530px;
  width: 500px;
}
.sub-page .darius-content {
  width: 200px;
  position: absolute;
  top: 80px;
  left: 4%;
}
.sub-page header {
  margin-top: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub-page header h1 {
  margin: 0;
  font-size: 180px;
}
.pb-page header h1 {
  color: rgb(42, 111, 104);
}

.pb-page header {
  background-image: url('images/pb-bg.png');
}
.sub-page main {
  height: 100vh;
  position: relative;
}
.sub-page .pb-blue {
  position: absolute;
  bottom: 0px;
  left: 1000px;
  width: 400px;
}
.sub-page .pb-green {
  position: absolute;
  bottom: 0px;
  left: 450px;
  width: 520px;
}
.sub-page .pb-yellow {
  position: absolute;
  bottom: 0px;
  left: -40px;
  width: 650px;
}
.sub-page .pb-content {
  width: 500px;
  position: absolute;
  top: 80px;
  left: 60%;
}
.nav {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 900;
}

.icon {
  position: fixed;
  cursor: pointer;
  top: 40px;
  right: -18px;
  width: 40px;
  height: 45px;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1000;
  padding: 26px;
  border-radius: 50%;
}

.hamburger {
  width: 40px;
  height: 4px;
  line-height: 70px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  transition: 0.5s;
}

.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}

.menu-mobile {
  background-color: #efefef;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-top: 150px;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
}

.menu-mobile,
.menu-mobile a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.menu-mobile a {
  clear: right;
  text-decoration: none;
  color: #333;
  height: 70px;
  line-height: 70px;
}
.menu-mobile a:hover {
  color: red;
}

.menu-mobile {
  display: none;
}
/* END OF Mobile Menu */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* START of desktop menu for 768 media query */

  .menu-mobile {
    display: none;
  }
  /* END of desktop menu for 768 media query */
}
